.MySkills {
  font-family: "Montserrat", sans-serif;
  margin-left: 535px;
  margin-bottom: 35px;
}
.skills-items li {
    color: rgb(14, 239, 183) !important;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
}

h2 {
    background: linear-gradient(to right, #35d7e6e9, rgba(124, 225, 23, 0.823));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

p{
    color: beige;
    font-size: large;
    font-weight: 400;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  text-decoration: none;
  color: rgb(14, 239, 183);
  font-weight: 800;
}