/**GOOGLE FONTS**/
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@600&family=Lato:wght@300;700&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,40;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@300;400;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&family=Secular+One&display=swap");

body {
  background: hsl(204 100% 5%);
  margin: 0px;
  padding: 0px;
}

hr {
  width: 50%;
  border: 1px solid rgb(96, 94, 94);
  margin-top: 0;
  opacity: 0.25;
}

/** Headings **/
.heading {
  background: linear-gradient(to right, #35d7e6e9, rgba(124, 225, 23, 0.823));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Divs **/
.container{
  font-family: "Montserrat", sans-serif;
  margin-left: 555px;
  margin-bottom: 35px;
}

/** Fonts **/
p{
  color: beige;
  font-size: large;
  font-weight: 400;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}